# entorno virtual
env/
venv/
__pycache__/
*.py[cod]

# archivos de configuración sensibles
.env
.env*

# archivos de migración (opcional)
*/migrations/__pycache__/
*.log

# archivos de sistema
.DS_Store
.idea/
.vscode/

# archivos de caché
*.cache
/staticfiles/

.coverage
htmlcov/